<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Detail Client</title>
</head>
<body>

<div layout:fragment="contents">
  <div class="row mt-2 ml-1 mr-1">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="card  border-info">
        <div class="card-header badge badge-info text-wrap">
          <h6>Detail d'un Client</h6>
        </div>
        <div class="card-body ">

          <div class="form-group row">
            <label class="col-sm-4 col-form-label"> Code de client :</label>
            <div class="col-sm-4">
              <p th:text="${client.id}"></p>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label"> Nom de client :</label>
            <div class="col-sm-4">
              <p th:text="${client.nomClient}"></p>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label"> mail de client :</label>
            <div class="col-sm-4">
              <p th:text="${client.mailClient}"></p>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label"> numero Telephone de client :</label>
            <div class="col-sm-4">
              <p th:text="${client.telClient}"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6" th:if="${#lists.size(client.commandes) > 0}">
              <a th:href="@{/user/listCommande(id=${client.id})}"><button class="btn btn-primary">Afficher les commande</button></a>
            </div>

            <div class="col-sm-6">
              <a th:href="@{/user/client}"><button class="btn btn-primary"> Retour</button></a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



</body>
</html>